*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}
/* Codigo Banner/Cabecera  */
header{
    background-color: black;
    color: #ffffff;
    font-size: 190%;
}

.logo{
    width: 140px;
    height: 85px;
}

@media screen and (max-width:530px) {
   .banner span{
       display: none;
   }
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.boton{
    padding: 5px;
    border-radius: 10px;
    margin-left: 3px;
}

.boton:hover{
    background-color: #161616;
    color: #ffffff;
}

header a:link, a:visited, a:active {
    text-decoration:none;
}
header a{
    color: #ffffff;
}


.banner h1{
    color: #ffffff;
    font-family: 'Pinyon Script', cursive;
    font-size: 50px;
    padding-top: 16px;
    text-align: center;
}

/* Codigo para el pie de pagina */

footer{
    padding-left: 10px;
    padding-top: 20px;
}
footer a{
    padding-left: 10px;
    color: #d93821;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
.container-sobremi{
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 200px auto;
    grid-template-areas: 
    "titulo-sobre imagen-sobre"
    "texto-sobre imagen-sobre"
}
.texto--sobremi{
    grid-area: texto-sobre;
    color: #d8bebd;
    padding-left: 50px;
    padding-right: 115px;
}

.titulo--sobremi{
    grid-area: titulo-sobre;
    font-size: 50px;
    padding-top: 75px;
    padding-left: 150px;
    color: #d8bebd;
}

.img--sobremi{
    padding-top: 30px;
    grid-area: imagen-sobre;
    display: flex;
    justify-content: center;
}
.fondo_sobremi{
    background-image: url(../Images/FondoSobremi.jpg);
    background-color: #161616;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
}
@media screen and (max-width:480px) {
    .container-sobremi{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "titulo-sobre"
        "imagen-sobre"
        "texto-sobre";
    }  
    .titulo--sobremi{
        width: 100%;
        display: grid;
        grid-area: titulo-sobre;
        font-size: 50px;
        color: #d8bebd;
        padding-left: 0px;
        padding-top: 50px;
        display: flex;
        justify-content: center;

    }
    .texto--sobremi{
        grid-area: texto-sobre;
        color: #d8bebd;
        padding-top: 50px;
        padding-left: 0px;
        padding-right: 0px;
        padding: 20px;

    }
    
    .img--sobremi{
        display: grid;
        grid-area: imagen-sobre;
        width: 90%;
        padding-left: 15px;
    }

    .fondo_sobremi{
        background-image: none;
        background-color: #161616;
        background-repeat: no-repeat;
    }
}

/* Mis trabajos */
.fondo-mistrabajos{
    background-color: #161616;
    background-image: url(../Images/MisTrabajos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 45%;
    font-family: 'Montserrat', sans-serif;
}
.titulo-mistrabajos{
    font-size: 50px;
    text-align: center;
    align-items: center;
    color: #ffffff;
}
.texto-mistrabajos{
    display: flex;
    text-align: center;
    color: #ffffff;
}
/* Set your aspect ratio */
.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 56.25%; 
  }
  
  .video-container iframe,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
  
  /* And set the max-width of the parent element */
  .video-wrap {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
  }
  .contenedor-mis-trabajos{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .row-mis-trabajos{
    height: 500px;
  }