.fondo-index {
  background-color: #161616;
  background-image: url(../Images/Fondo2.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right; }

.portada {
  /*  Esta es la imagen del beso */
  position: absolute;
  top: 50px;
  left: 450px; }

.container-padre {
  width: 100%;
  display: grid;
  grid-template-columns: 500px auto;
  grid-template-rows: 200px 350px auto;
  grid-template-areas: "banner none" "nav none" "footer footer"; }

.banner-index {
  grid-area: banner;
  display: flex;
  justify-content: center;
  padding-top: 30px; }
  .banner-index h1 {
    color: #ffffff;
    font-family: 'Pinyon Script', cursive;
    font-size: 90px; }

.nav {
  grid-area: nav; }

.menu {
  list-style: none;
  padding-left: 0px; }

.li-index {
  margin-top: 10px; }

.boton-index:hover {
  color: #161616;
  background-color: #ffffff; }

.boton-index {
  padding: 5px;
  color: #d8bebd;
  font-family: 'Lato', sans-serif;
  font-size: 55px;
  border-radius: 10px;
  margin-left: 40px; }

.footer-index {
  grid-area: footer;
  padding-top: 40px; }

.footer-index a {
  padding-left: 55px;
  color: #d93821; }

a:link, a:visited, a:active {
  text-decoration: none; }

/* footer a:hover{
     a definir
} */
@media screen and (max-width: 912px) {
  .fondo-index {
    background-color: #161616;
    background-image: url(../Images/Fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .portada {
    padding-top: 50px; }
  .banner-index h1 {
    color: #ffffff;
    font-family: 'Pinyon Script', cursive;
    font-size: 80px;
    padding-left: 10px; }
  .container-padre {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 300px auto;
    grid-template-areas: "banner" "nav" "footer"; }
  .banner-index {
    grid-area: banner;
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
    margin-left: 20px; }
  .nav {
    grid-area: nav;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px; }
  .menu {
    list-style: none;
    padding-top: 30px; }
  .li-index {
    padding-left: 0px;
    padding-top: 10px; }
  .boton-index {
    padding: 0px;
    color: #d8bebd;
    font-family: 'Lato', sans-serif;
    font-size: 35px; }
  .footer-index {
    grid-area: footer;
    padding-top: 40px; }
  .footer-index a {
    padding-left: 30px;
    color: #d93821; }
  a:link, a:visited, a:active {
    text-decoration: none; } }

@media screen and (max-width: 680px) {
  .portada {
    /*  Esta es la imagen del beso */
    display: none; }
  .banner-index h1 {
    padding-left: 0px;
    font-size: 120px; }
    .banner-index h1 span {
      display: none; }
  .banner-index {
    margin: 0px;
    display: flex;
    justify-content: center; }
  .nav {
    margin: 0px;
    display: flex;
    justify-content: center; }
  .footer-index ion-icon {
    font-size: 40px;
    padding-top: 100px; }
  .boton-index {
    font-size: 45px;
    padding: 5px; }
  .portada {
    display: none; } }

.container-sobremi {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 200px auto;
  grid-template-areas: "titulo-sobre imagen-sobre" "texto-sobre imagen-sobre"; }

.texto--sobremi {
  grid-area: texto-sobre;
  color: #d8bebd;
  padding-left: 50px;
  padding-right: 115px; }

.titulo--sobremi {
  grid-area: titulo-sobre;
  font-size: 50px;
  padding-top: 80px;
  padding-left: 150px;
  color: #d8bebd; }

.img--sobremi {
  padding-top: 20px;
  padding-right: 100px;
  grid-area: imagen-sobre;
  display: flex;
  justify-content: center; }

.fondo_sobremi {
  background-image: url(../Images/FondoSobremi.jpg);
  background-color: #161616;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: right; }

.no-padding {
  padding-top: 0px; }

@media screen and (max-width: 1024px) {
  .container-sobremi {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "titulo-sobre" "imagen-sobre" "texto-sobre"; }
  .titulo--sobremi {
    grid-area: titulo-sobre;
    padding-left: 0px;
    padding-top: 50px;
    text-align: center; }
  .texto--sobremi {
    width: 100%;
    grid-area: texto-sobre;
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: justify; }
  .img--sobremi {
    padding: 15%;
    padding-top: 0px;
    padding-bottom: 0px;
    grid-area: imagen-sobre;
    width: 100%; }
  .fondo_sobremi {
    background-image: none; } }

.fondo-mistrabajos {
  background-color: #161616;
  background-image: url(../Images/MisTrabajos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 45%; }

.container-uno {
  padding-top: 60px;
  margin-bottom: 60px; }

.caja {
  padding: 20px;
  margin: 5%;
  background-color: #161616;
  border-radius: 20px; }

.titulo-mistrabajos {
  font-size: 50px;
  text-align: center;
  align-items: center;
  color: #ffffff; }

.texto-mistrabajos {
  padding-left: 0px;
  padding-top: 0px;
  display: flex;
  text-align: center;
  color: #ffffff; }

.video-uno {
  margin-left: 80px;
  padding-top: 0px; }

@media screen and (max-width: 1024px) {
  .container-uno {
    padding-top: 0px;
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 150px 270px 300px; }
  .titulo-mistrabajos {
    font-size: 250%;
    color: #ffffff;
    text-align: center; }
  .texto-mistrabajos {
    width: 95%;
    padding-left: 0px;
    padding-top: 0px;
    size: 80%;
    display: flex;
    justify-content: center;
    text-align: justify;
    color: #ffffff; } }

@media screen and (min-width: 412px) and (max-width: 1024px) {
  iframe {
    display: none; } }

.item-fotos img {
  width: 180px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 4px;
  border: #161616; }

.fotos {
  padding-bottom: 0px;
  padding-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.fondo-contactos {
  background-color: #161616;
  background-image: url(../Images/ParaContatcos.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right; }

form {
  color: #ffffff;
  text-align: center;
  background-color: black;
  border-radius: 30px;
  margin-top: 100px;
  margin-bottom: 60px;
  margin-left: 50px;
  margin-right: 50px; }
  form h2 {
    font-size: 30px;
    padding: 20px; }
  form p {
    padding: 3px;
    font-size: 25px; }

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.form__input {
  display: block;
  width: 90%;
  font-family: inherit;
  font-size: 20px;
  padding: 5px;
  outline: none;
  border: 1px solid;
  margin-bottom: 20px;
  border-radius: 5px; }

.form__cta {
  font-family: inherit;
  font-size: 18px;
  padding: 4px;
  background-color: #d93821;
  border: none;
  border-radius: 2px;
  cursor: pointer; }
  .form__cta:hover {
    background-color: #ba3623; }

.form__input--message {
  font-family: inherit;
  font-size: 20px;
  outline: none;
  border: none;
  border: 1px solid;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px; }

input, textarea {
  border-radius: 3px; }
  input:focus, textarea:focus {
    background-color: #edccc7;
    border-color: #d93821; }

@media screen and (max-width: 750px) {
  .fondo-contactos {
    background-color: #161616;
    background-image: url(../Images/ParaContatcos.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right; }
  form {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%; } }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Montserrat', sans-serif; }
  body::-webkit-scrollbar {
    width: 7px; }
  body::-webkit-scrollbar-thumb {
    background: #d93821;
    border-radius: 5px; }

/* Codigo Banner/Cabecera  */
header {
  background-color: black;
  color: #ffffff;
  font-size: 190%; }
  header a {
    color: #ffffff; }
    header a:link, header a:visited, header a:active {
      text-decoration: none; }

.logo {
  width: 130px; }

.ul-header {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  width: 100%; }

.boton {
  padding: 5px;
  padding-top: 0px;
  border-radius: 10px;
  margin-left: 5px; }
  .boton:hover {
    /*         background-color: #ffffff;
        color: #161616; */
    color: #de5543; }

.banner h1 {
  color: #ffffff;
  font-family: 'Pinyon Script', cursive;
  font-size: 50px;
  padding-top: 16px;
  padding-left: 20px;
  text-align: center; }

@media screen and (max-width: 530px) {
  .banner span {
    display: none; } }

/* Codigo para el pie de pagina */
footer {
  padding-left: 10px;
  padding-top: 20px; }
  footer a {
    padding-left: 10px;
    color: #d93821; }
    footer a:link, footer a:visited, footer a:active {
      text-decoration: none; }
