.fondo-index {
    background-color: #161616;
    background-image: url(../Images/Fondo2.jpg);
    background-repeat:no-repeat;
    background-size: 50%;
    background-position: right;

}
.portada{
    /*  Esta es la imagen del beso */
    position: absolute;
    top: 50px;
    left: 450px;
}

.container-padre{
    width: 100%;
    display: grid;
    grid-template-columns: 500px auto;
    grid-template-rows: 200px 350px auto;
    grid-template-areas: 
    "banner none"
    "nav none"
    "footer footer";
}

.banner-index{
    grid-area: banner;
    display: flex;
    justify-content: center;
    padding-top: 30px;
        h1{
                color: #ffffff;
    font-family: 'Pinyon Script', cursive;
    font-size: 90px;
        }
}
.nav{
    grid-area: nav;
}
.menu {
    list-style: none;
    padding-left: 0px;
}
.li-index{
    margin-top: 10px;
}
.boton-index:hover{
    color: #161616;
    background-color: #ffffff;
}
.boton-index{
    padding: 5px;
    color: #d8bebd;
    font-family: 'Lato', sans-serif;
    font-size: 55px;
    border-radius: 10px;
    margin-left: 40px;
}

.footer-index{
    grid-area: footer;
    padding-top: 40px;
}
.footer-index a{
    padding-left: 55px;
    color: #d93821;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
/* footer a:hover{
     a definir
} */
@media screen and (max-width:912px) {
    .fondo-index{
        background-color: #161616;
        background-image: url(../Images/Fondo2.jpg);
        background-repeat:no-repeat;
        background-size: cover;
    }    
    .portada{
        padding-top: 50px;
        }
    
    .banner-index h1{
        color: #ffffff;
        font-family: 'Pinyon Script', cursive;
        font-size: 80px;
        padding-left: 10px;
    }
    
    .container-padre{
        width: 100%;
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: auto 300px auto;
        grid-template-areas: 
        "banner"
        "nav"
        "footer";
    }
    .banner-index{
        grid-area: banner;
        display: flex;
        justify-content: flex-start;
        padding-top: 30px;
        margin-left: 20px;
    }

    .nav{
        grid-area: nav;
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
    }
    .menu {
        list-style: none;
        padding-top: 30px;
    
    }
    .li-index{
        padding-left: 0px;
        padding-top: 10px;
    }
    .boton-index{
        padding: 0px;
        color: #d8bebd;
        font-family: 'Lato', sans-serif;
        font-size: 35px;
    }
    
    .footer-index{
        grid-area: footer;
        padding-top: 40px;
    }
    .footer-index a{
        padding-left: 30px;
        color: #d93821;
    }
    a:link, a:visited, a:active {
        text-decoration:none;
    }
}
@media screen and (max-width:680px) {
    .portada{
        /*  Esta es la imagen del beso */
        display:none;
    }
 

    .banner-index h1{
        padding-left: 0px;
        font-size: 120px;     
        span{
            display: none;
        } 
    }
    .banner-index{
        margin: 0px;
        display: flex;
        justify-content: center;
    }
    .nav{
        margin: 0px;
        display: flex;
        justify-content: center;
    }
    .footer-index ion-icon{
        font-size: 40px;
        padding-top: 100px;
    }
    .boton-index{
        font-size: 45px;
        padding: 5px;
    }
    .portada{
        display:none;
    }
}