.fondo-mistrabajos{
    background-color: #161616;
    background-image: url(../Images/MisTrabajos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 45%;
}

.container-uno{
    padding-top: 60px;
    margin-bottom: 60px;
}
.caja{
    padding: 20px;
    margin: 5%;
    background-color: #161616;
    border-radius: 20px;
}
.titulo-mistrabajos{
    font-size: 50px;
    text-align: center;
    align-items: center;
    color: #ffffff;
}
.texto-mistrabajos{
    padding-left: 0px;
    padding-top: 0px;
    display: flex;
    text-align: center;
    color: #ffffff;
}

.video-uno {
margin-left: 80px;
padding-top: 0px;
}

@media screen and (max-width:1024px) {    
    .container-uno{
        padding-top: 0px;
        display: grid;
        width: 100%;
        grid-template-columns:100%;
        grid-template-rows: 150px 270px 300px;
    }
    
    .titulo-mistrabajos{
        font-size: 250%;
        color: #ffffff;
        text-align: center;
    }
    .texto-mistrabajos{
        width: 95%;
        padding-left: 0px;
        padding-top: 0px;
        size: 80%;
        display: flex;
        justify-content: center;
        text-align: justify;
        color: #ffffff;
    }
    

}
@media screen and (min-width:412px) and (max-width:1024px){
    iframe {
        display: none;
    }
}