@import "index";
@import "sobremi";
@import "mistrabajos";
@import "galeria";
@import "contactos";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    &::-webkit-scrollbar {
	width: 7px;
    }
    &::-webkit-scrollbar-thumb {
	background: #d93821;
	border-radius: 5px;
    }
}



/* Codigo Banner/Cabecera  */

header{
    background-color: black;
    color: #ffffff;
    font-size: 190%;
    a{
        color: #ffffff;
        &:link, &:visited, &:active{
            text-decoration:none;
        }
    }
}

.logo{
    width: 130px;
}

.ul-header {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.boton{
    padding: 5px;
    padding-top: 0px;
    border-radius: 10px;
    margin-left: 5px;
    &:hover{
/*         background-color: #ffffff;
        color: #161616; */
        color: #de5543;
    }
}


.banner h1{
    color: #ffffff;
    font-family: 'Pinyon Script', cursive;
    font-size: 50px;
    padding-top: 16px;
    padding-left: 20px;
    text-align: center;
}

@media screen and (max-width:530px) {
    .banner span{
       display: none;
    }
}
/* Codigo para el pie de pagina */

footer{
    padding-left: 10px;
    padding-top: 20px;
    a{  
        padding-left: 10px;
        color: #d93821;
        &:link, &:visited, &:active{
            text-decoration:none;
        }
    }
}

@media screen and (max-width:530px) {
    footer{
        padding-left: 0px ;
        text-align: center;
        a{
            padding-left: 5px;
            padding-right: 5px;
            font-size: 30px;
        }
    }
}